@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
 
        <p>Discover <a href=".well-known/openid-configuration">OpenId Configuration</a>.</p>
        <p>Discover <a href=".well-known/openid-configuration/jwks">Public Keys</a>.</p>
    </div>
