ASPNETCORE_URLS=https://+:443;http://+:80
ASPNETCORE_KESTREL_CERTIFICATE_PASSWORD=ufo
ASPNETCORE_KESTREL_CERTIFICATE_PATH=/root/.dotnet/https/cert-aspnetcore.pfx
NUGET_SOURCE=https://api.nuget.org/v3/index.json
CERTIFICATE_PATH=c:\temp\

Identity_AzureAd_ClientId=<secret>
Identity_AzureAd_ClientSecret=<secret>
Identity_KeyVault=P7KeyValut
Identity_KeyIdentifier=P7IdentityServer4SelfSigned